@font-face {
    font-family: 'Elianto-Regular';
    src: url('/fonts/Elianto/Elianto-Regular.ttf');
}


* {
    box-sizing: border-box;
    font-family: "Elianto-Regular", sans-serif;
}

body,html {
    margin: 0;
    padding: 0;
    overflow-y: hidden;

}

.MainContainer {
    position: fixed;
    height: 100vh;
    width: 500vw;
    background-image: url("/images/hugeSpaceBurn2.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.Conveyor{
    position: absolute;
    height: 100vh;
    width: 100vw;
    background-image: url("/images/hugeSunConveyor.png");
    background-size: cover;
    background-position: center;
    z-index: -1;
}


.BrownBlock {
    height: 100px;
    width: 100px;
    background: rgb(73,49,2);
    background: linear-gradient(147deg, rgba(73,49,2,1) 33%, rgba(255,192,0,1) 100%);
    border-radius: 10px;
}

.YellowBlock {
    height: 100px;
    width: 100px;
    background: rgb(205,213,0);
    background: linear-gradient(140deg, rgba(205,213,0,1) 54%, rgba(146,255,0,1) 100%);
    border-radius: 10px;
}
