:root {

    --navWidth: 20vw;
    --navHalf: calc(var(--navWidth) / -2);
}

* {
    box-sizing: border-box;
    font-family: "Source Code Pro", serif;
    /*overflow: hidden;*/
}

body,html {
    display: flex;
    margin: 0;
    padding: 0;
    background-color: black;
}

#canvasVertical {
    display: none;
}

#canvasHorizontal {
    display: none;
}

#backward{
    background-color: green;
    z-index: 10;
}

#forward{
    background-color: red;
    z-index: 10;
}

#megaBox0{
    position: fixed;
    display: flex;
    text-align: center;
    font-size: 3rem;
    color: rgba(164, 194, 94, 0.5);
    -webkit-text-stroke: 1px #000000;
    z-index: 4
}

#megaBox1{
    position: fixed;
    z-index: 3
}

#megaBox2{
    position: fixed;
    display: flex;
    z-index: 2;
}

#megaBox3{
    position: absolute;
    z-index: 1;
}

#nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    height: 5%;
    width: var(--navWidth);
    left: 50%;
    margin-left: var(--navHalf);
    top: 90%;
    z-index: 11;
}

#nav > * {
    opacity: 0.6;
    height: 90%;
    aspect-ratio: 1/1;
    background-color: dimgray;
    border: solid 2px black;
    border-radius: 20px;
    transition: all 0.5s ease;
}

#nav > :nth-child(1):hover {
    opacity: 1;
    background-color: #a4c25e;
}

#nav > :nth-child(2):hover {
    opacity: 1;
    background-color: #ebe36b;
}

#nav > :nth-child(3):hover {
    opacity: 1;
    background-color: #ff6b32;
}

#nav > :nth-child(4):hover {
    opacity: 1;
    background-color: #9cbbd8;
}

.active {
    opacity: 1 !important;
}