* {
    box-sizing: border-box;
    /*overflow: hidden;*/
}

body,html {
    display: flex;
    margin: 0;
    padding: 0;
    background-color: black;
}

#canvas {
    display: none;
    height: auto;
}

#backward{
    background-color: green;
    z-index: 10;
}

#forward{
    background-color: red;
    z-index: 10;
}

#megaBox0{
    position: fixed;
    display: flex;
    z-index: 4
}

#megaBox1{
    position: fixed;
    display: flex;
    z-index: 3
}

#megaBox2{
    position: fixed;
    display: flex;
    z-index: 2;
}

#megaBox3{
    position: absolute;
    display: flex;
    z-index: 1;
}