:root {
    --navHeight: 10dvh;
    --navHeightHalf: calc(var(--navHeight) /2);
    --navWidthHalf: calc(100dvh * 0.8)
}


::-webkit-scrollbar {
    width: 10px;
    border-radius: 10px;
}

::-webkit-scrollbar-track {
    background-color: rgba(0,0,0,0.6);
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #111111;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    pointer-events: all;
    background: #666666;
}

@font-face {
    font-family: "JetBrains Mono";
    src: url("../fonts/JetBrainsMono/JetBrainsMono-Regular.ttf");
    font-weight: normal;
}

@font-face {
    font-family: "JetBrains Mono";
    src: url("../fonts/JetBrainsMono/JetBrainsMono-Bold.ttf");
    font-weight: bold;
}

* {
    box-sizing: border-box;
    font-family: "JetBrains Mono", serif;
    text-shadow: -1px 2px 6px rgba(0,0,0,0.6);
    perspective: 800px;
}


body,html {
    margin: 0;
    padding: 0;
    background-image: url("../images/Logos/BASSHECTORLOGOnobg.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    overflow: hidden;
}

body{

}

.loadingBlanket{
    display: flex;
    pointer-events: none;
    position: absolute;
    z-index: 9999;
    width: 100dvw;
    height: 100dvh;
    background-color: rgba(0,0,0,1);
    justify-content: center;
    align-items: center;
}

#loadingBlanketText{
    color: white;
    pointer-events: none;
    font-size: 4rem;
}

strong {
    text-decoration: underline black solid;
    font-weight: bold !important;
}

h1 {
    overflow: visible;
    text-align: center;
    color: black;
    font-size: clamp(1.5rem, 3.7vw, 4rem);
}

p {
    margin-top: 0;
    position: relative;
    color: black;
    font-weight: bold;
    padding: 2% 0 0;
    font-size: clamp(1.5rem, 1.5vw, 3rem)
}

#mainContainer{
    height: 100dvh;
    width: 100dvw;
}
/* 00000000000000000000000000000000000000000000000000000000000000000000000000000*/
#layer0{
    pointer-events: none;
    display: flex;
    z-index: 888;
    position: absolute;
    top: 0;
    left: 0;
}

#mainContainerHid{
    position: relative;
    height: 100vh;
    width: 100vw;
}

.ImageOfMe{
    display: flex;
    height: 100%;
    width: 100%;
}

.Intro {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-right: 5%;
    max-width: 50%;
    max-height: 100%
}

.Intro h1{
    text-align: left;
}

.DarkMode{
    border-radius: 50%;
    position: absolute;
    bottom: 0;
    left: 95%;
    z-index: 999;
    padding-top: 10%;
    background:radial-gradient(circle, rgba(0,0,0,1) 0%, rgba(255,255,255,0) 40%);
    background-size: 200%;
    width: 10%;
    justify-content: flex-start;
    display: flex;
    transition: all 1s ease;
    cursor: pointer;
}

.DarkMode:active{
    background:radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(0,0,0,0) 40%);
}

.DarkMode.persistent {
    background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(0,0,0,0) 40%);
    background-size: 200%;
    background-position: 100% 50%;
}

.DarkMode:hover{
    animation: mode-hum 1s;
    background-position: 50% 50%;
}

.DarkMode.persistent:hover{
    animation: mode-hum-dark 1s;
    background-position: 50% 50%;
}

@keyframes mode-hum-dark {
    0% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 50% 50%;
    }
}

@keyframes mode-hum {
    0% {
        background-position: 0 30%;
    }
    100% {
        background-position: 50% 30%;
    }
}

.icon{
    padding-top: 50%;
    width: 50%;
    position: absolute;
    top: 25%;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-size: contain;
    background-repeat: no-repeat;
    pointer-events: none;
}

#sun{
    right: 0;
    background-image: url("../images/Logos/LightMode.png");
}

#moon{

    background-image: url("../images/Logos/DarkMode.png");
}

#imgme {
    background-image: url(../images/styledME.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 100%;
    height: 100%
}

.IntroWrapper{
    overflow: hidden;
    display: flex;
    flex-direction: column;
    height: 80%;

}

.nav {
    overflow: visible;
    display: flex;
    flex-direction: column;
    height: 10%;
    width: 100%;
    flex-grow: 1;

    margin-bottom: 2%;
}

.NavBar{
    overflow: visible;
    padding-top: 5%;
    display: flex;
    margin-bottom: 2%;
    justify-content: space-around;
    align-items: flex-end;
    height: 100%;
    width: 100%;
}

.buttonWrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(144deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 21%, rgba(255,255,255,1) 34%, rgba(255,255,255,1) 65%, rgba(0,0,0,1) 79%, rgba(0,0,0,1) 100%);;
    background-size: 600% 600%;
    margin-right: 5%;
    margin-left: 5%;
    pointer-events: all;
    width: 100%;
    height: auto;
    border-radius: 1rem;
    transition: background 0.5s ease;
    cursor: pointer;
    box-shadow: 2px 1px 20px 0px rgba(0,0,0,0.8);

}

.button{
    margin: 2%;
    display: flex;
    background-color: #ff6b32;
    border-radius: 1rem;
    align-items: center;
    justify-content: center;
    color: black;
    text-align: center;
    font-size: 2vw;
    width: 100%;
    height: auto;
    transition: all 0.5s ease;
    pointer-events: none;
    cursor: pointer;
}

.buttonWrapper:hover{
    animation: buttonFlash 0.5s ease-in-out ;
}

@keyframes buttonFlash {
    0% {
        background-position: 0 50%;
    }
    100% {
        background-position: 100% 50%;
    }

}

.vignette {
    -webkit-box-shadow: inset 0px 0px 85px rgba(0,0,0,0.4);
    -moz-box-shadow:    inset 0px 0px 85px rgba(0,0,0,0.4);
    box-shadow:         inset 0px 0px 85px rgba(0,0,0,0.4);
}


/* 1111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111*/
#layer1{
    position: absolute;
    z-index: 3;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    pointer-events: none;
}

#mainContainerLayer1{
    text-align: center;
    color: white;
    display: flex;
    flex-direction: column;
    position: absolute;
    height: 100vh;
    width: 100vw;
}

#mainContainerLayer1 h1{
    font-size: clamp(1.5rem, 2.2vw, 3rem)
}

#mainContainerLayer1 > strong{
    font-size: x-large;
    padding-top: 10px;
    color: white;
    text-align: center;
    justify-self: center;
}


.skillsContainer p{
    margin: 0;
    padding: 2%;
}


.skillsContainer{
    overflow: auto;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    padding-left: 5%;
    padding-right: 5%;
    height: 100%;
    width: 100%;
}

.skillsContainer{
    height: 100vh;
}

.skills{
    pointer-events: all;
    background-color: rgba(52, 61, 70, 0.5);
    overflow: hidden;
    height: 100%;
    width: 100%;
    border: solid 2px black;
    border-radius: 10px;
}

.skillsImages{
    display: flex;
    flex-direction: row;
    height: 20%;


}

.skillsImages > *{
    height: 100%;
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}


#html{
    background-image: url("../images/Logos/htmlLogo.png");
}

#css {
    background-image: url("../images/Logos/cssLogo.png");
}

#javascript{
    background-image: url("../images/Logos/jsLogo.png");
}

.skillsDemos{
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    border-top: solid 2px black;
    border-radius: 10px;
}

.skillsDemos > *{
    text-align: left;
    border-right: solid 2px black;
    border-left: solid 2px black;
    background-color: rgba(52,61,70, 0.5);
    pointer-events: all;
    overflow: auto;
    height: 100%;
    width: 100%;
}

.library{
    overflow: visible;
    background-color: rgba(52,61,70, 0.5);
    display: flex;
    justify-content: space-around;
    border: 2px solid black;
    border-radius: 10px;
    height: 15%;
    width: 100%;
}

.library > * {
    pointer-events: all;
    height:100%;
    width:15%;

    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#nodeJS{
    background-image: url("../images/Logos/nodejsLogo.png");
}

#react{
    background-image: url("../images/Logos/reactLogo.png");
}

#jquery{
    background-image: url("../images/Logos/jqueryLogo.png");
}

/* 22222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222*/

#layer2{
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    pointer-events: none;
}


.projectsContainer{
    pointer-events: all;
    padding-left: 5%;
    padding-right: 5%;
    display: flex;
    flex-direction: column;
    height: 100vh;
    text-align: center;
}

.projectsContainer > h1{

}

.projects {
    display: flex;
    height: 100%;
    width: 100%;
    overflow-y: scroll;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 1px -1px 27px 0px rgba(0,0,0,0.75);
}

.projectsHolder {
    background-color: rgba(52,61,70, 0.5);
    overflow: hidden;
    pointer-events: all;
    display: flex;
    flex-wrap: wrap;
    height: 200%;
    width: 100%;
}

.projectsHolder > * {
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
    pointer-events: all;
    cursor: pointer;
}

.projectDemo{
    border: solid 1px dimgray;
    border-radius: 10px;
    margin: 3%;
    height: auto;
    width: 43%;
    box-shadow: 1px -1px 27px 0px rgba(0,0,0,0.75);
}

.demoLink{
    display: flex;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
    text-shadow: 1px -1px 27px 0px rgba(0,0,0,0.75);
}

#PDemo0{
    background-image: url("../images/Gifs/matterJSLetters.gif");
    background-position: 50% 100%;
    background-size: cover;
    height: 100%;
    width: 100%;

}

#PDemo1{
    background-image: url("../images/Gifs/embersLandingPage.gif");
    background-position: 50% 100%;
    background-size: cover;
    height: 100%;
    width: 100%;
}

#PDemo2{
    background-image: url("../images/Gifs/shutter.gif");
    background-size: cover;
    background-position: 50% 100%;
    height: 100%;
    width: 100%;
}

#PDemo3{
    background-image: url("../images/Gifs/psuedoPara.gif");
    background-size: cover;
    height: 100%;
    width: 100%;
}

#PDemo4{
    background-image: url("../images/Gifs/Portfolio.gif");
    background-size: cover;
    background-position: 50% 50%;
    height: 100%;
    width: 100%;
}

#PDemo5{
    background-image: url("../images/Previews/underConstruction.webp");
    background-size: cover;
    background-position: 50% 50%;
    height: 100%;
    width: 100%;
}

/* 3333333333333333333333333333333333333333333333333333333333333333333333333333333 */

#layer3{
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    pointer-events: none;
}

.mainContainerLayer3{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;
    /*background-color: rgba(0, 0, 0, 0.5);*/
}

#socials{
    height: 80%;
    width: 100%;
    background-color: rgba(0,0,0, 0.0);

}


#socials > * {
    display: flex;
    height: 30%;
    width: 100%;
    padding-top: 5%;
}

#socials h1{
    height: 100%;
    font-size: clamp(1.5rem, 4vw, 3rem);
    overflow-wrap: break-word;
    width: 80%;
    text-align: left;
}

#socials > * > *{
    height: 100%;
    width: 20%;
}

.socialImg{
    height: 100%;
    width: 20%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 1rem;
    cursor: pointer;
    pointer-events: all;
    margin-right: 5%;
}

#socials > * > a{
    pointer-events: all;
    cursor: pointer;
    width: 80%;

}


#linkInContactImg{
    background-image: url("../images/Logos/LinkedInLogo_non-stylized.png");
}

#gitHubContactImg {
    background-image: url("../images/Logos/GitHubLogo.png");
}

#googleContactImg{
    background-image: url("../images/Logos/gmailLogo.png");
}

.mainContainerLayer3 .nav{
    max-height: 20%;
}

.layer1{
    background-color: #ff6b32;
}

.layer2{
    background-color: #B026FF;
}

.layer3{
    background-color: #32C6FF;
}

.layer4{
    background-color: #FE0000;
}

.skillsGreen{
    overflow: visible; !important;
    font-size: xx-large;
    color:greenyellow;
}

.skillsPlum{
    overflow: visible; !important;
    font-size: xx-large;
    color: #26E1FF;
}

.skillsGold{
    overflow: visible; !important;
    font-size: xx-large;
    color: #ffc000;
}

#layer2dropdown{
    pointer-events: all;
    border: solid 3px white;
    border-radius: 10px;
    width: 3%;
    height: 6%;
    position: absolute;
    background-color: darkred;
    z-index: 889;
    top: -500px;
    cursor: pointer;
}

.projectsText{
    position: absolute;
    color: white;
}

.line {
    position: absolute;
    border-radius: 10px;
    width: 5%;
    height: 100%;
    left: 47.5%;
    background-color: white;
}

/*painful button section goes here*/
/*layer 0*/
#navBarHome .buttonWrapper > .button {
    background-color: #ff6b32;
}

#buttonWrapperIntroSkills:hover > .button{
    background-color: #B026FF;
}
#buttonWrapperIntroProjects:hover > .button{
    background-color: #32C6FF;
}
#buttonWrapperIntroContact:hover > .button{
    background-color: #39ff14;
}
/*layer 1*/
#NavBarSkills .buttonWrapper > .button{
    background-color: #B026FF;
}

#buttonWrapperSkillsHome:hover >.button{
    background-color: #ff6b32;
}
#buttonWrapperSkillsProjects:hover >.button{
    background-color: #32C6FF;
}
#buttonWrapperSkillsContact:hover >.button{
    background-color: #39ff14;
}
/*layer 2*/
#NavBarProjects .buttonWrapper > .button{
    background-color: #32C6FF;
}

#buttonWrapperProjectHome:hover >.button{
    background-color: #ff6b32;
}
#buttonWrapperProjectSkills:hover >.button{
    background-color: #B026FF;
}
#buttonWrapperProjectContact:hover >.button{
    background-color: #39ff14;
}

/*layer 3*/
#NavBarContact .buttonWrapper >.button{
    background-color: #39ff14;
}
#buttonWrapperContactHome:hover > .button{
    background-color: #ff6b32;
}
#buttonWrapperContactSkills:hover > .button{
    background-color: #B026FF;
}
#buttonWrapperContactProjects:hover > .button{
    background-color: #32C6FF;
}


@media (min-width: 0px) and (max-width: 500px) {
    #socials{
        padding-top: 13%;
    }
    #socials h1{
        font-size: clamp(1rem, 2vw, 4rem)
    }

    .ImageOfMe {
        flex-direction: column;
    }
    .Intro {

        display: flex;
        flex-direction: column;
        position: relative;
        height: 60%;
        width: 100vw;
        margin-right: 0;
        max-width: 100%;
        padding-left: 5%;
        padding-right: 5%;
    }

    .IntroWrapper{
        pointer-events: auto;
        overflow: auto;
        max-height: 60%;
        background-color: rgba(52,61,70, 0.4);
        border-radius: 10px;
        border: solid 1px black;
    }
    p{
        max-height: none;
        font-size: clamp(1.5rem, 3.5vw, 4rem)
    }
    .Intro p{
        font-size: clamp(1rem, 2vw, 3rem);

    }
    .Intro h1{
        padding-top: 0;
        margin-top: 0;
        font-size: clamp(1.3rem, 3.5vw, 4rem)
    }
    .Intro br{
        display: none;
    }


    .Intro .nav {
        max-height: 20dvh;
    }

    h1{
        padding-top: 0;
        font-size: clamp(2rem, 4vw, 3rem);
    }

    #imgme{
        height: 40%
    }

    #mainContainerLayer1 h1{
        font-size: clamp(1.5rem, 3.5vw, 3.5rem)
    }

    .button{
        line-height: var(--navHeightHalf);
        font-size: 3.5vw;
    }
    .nav{
        display: flex;
        flex-direction: column;
        height: 20%;
        width: 100%;
        flex-grow: 3;
        margin-top: auto;
        padding-bottom: 2%;
    }

    .NavBar{
        align-items: center;

        padding: 0;
    }
    .projectsHolder{
        height: 150%;
    }

    .DarkMode{
        bottom: clamp(0%, 4%, 10%);;
        width: clamp(10%, 15%, 20%);
        left: clamp(90%, 93%, 100%);
        padding-top: clamp(10%, 15%, 20%);
    }
    .skillsGreen{
        font-size: medium;
    }

    .skillsPlum{
        font-size: medium;
    }

    .skillsGold{
        font-size: medium;
    }
    #layer2dropdown{
        border: solid 1px white;
        width: 10%;
        height: 8%;
    }

}

@media (min-width: 501px) and (max-width: 900px) {

    .ImageOfMe {
        flex-direction: column;
    }
    .Intro br{
        display: none;
    }
    .Intro {
        display: flex;
        flex-direction: column;
        position: relative;
        height: 60%;
        width: 100vw;
        margin-right: 0;
        max-width: 100%;
        padding-left: 5%;
        padding-right: 5%;
    }

    .IntroWrapper{
        pointer-events: auto;
        overflow: auto;
        max-height: 40%;
        background-color: rgba(52,61,70, 0.4);
        border-radius: 10px;
        border: solid 1px black;
    }
    p{
        max-height: none;
        font-size: clamp(1.5rem, 3.5vw, 4rem)
    }
    .Intro p{
        font-size: clamp(0.7rem, 2.5vw, 2rem)
    }
    .Intro h1{
        margin-top: 0;
        font-size: clamp(1.5rem, 2.5vw, 3rem)
    }

    .Intro .nav {
        max-height: 10dvh;
    }

    h1{
        padding-top: 0;
        font-size: clamp(2rem, 4vw, 3rem);
    }

    #imgme{
        height: 40%
    }

    .button{
        line-height: var(--navHeightHalf);
        font-size: 4vw;
    }
    .nav{
        display: flex;
        flex-direction: column;
        height: 20%;
        width: 100%;
        flex-grow: 3;
        margin-top: auto;
        padding-bottom: 2%;
    }

    .NavBar{
        padding: 0;
    }
    .projectsHolder{
        height: 150%;
    }

    .DarkMode{
        bottom: clamp(0%, 4%, 10%);;
        width: clamp(10%, 15%, 20%);
        left: clamp(90%, 93%, 100%);
        padding-top: clamp(10%, 15%, 20%);
    }
    .skillsGreen{
        font-size: x-large;
    }

    .skillsPlum{
        font-size: x-large;
    }

    .skillsGold{
        font-size: x-large;
    }
}

@media (min-width: 501px) and (max-height: 1080px) {
    h1 {
        font-size: clamp(1.5rem, 3.5vw, 4rem)
    }

    .Intro h1 {
        text-align: left;
        font-size: clamp(1rem, 2.5vw, 4rem);
    }

    .Intro p {
        margin-top: 0;
        padding-top: 0;
        font-size: clamp(1rem, 1.3vw, 4rem);
    }
    .socials > *{
        padding-top: 0;
    }

    #socials h1{
        margin: 0;
        width: 100%;
    }
}

@media (min-width: 501px) and (max-height: 700px) {
    h1 {
        font-size: clamp(1.5rem, 3vw, 4rem)
    }

    .Intro h1 {
        text-align: left;
        font-size: clamp(1rem, 2vw, 4rem);
    }

    .Intro p {
        margin-top: 0;
        padding-top: 0;
        font-size: clamp(1rem, 1vw, 4rem);
    }
    .socials > *{
        padding-top: 0;
    }

    #socials h1{
        margin: 0;
        width: 100%;
    }
}