:root {
    --navHeight: 20vh;
    --navHeightHalf: calc(var(--navHeight) /2);
    --navWidthHalf: calc(100vh * 0.8)
}

@font-face {
    font-family: "JetBrains Mono";
    src: url("../fonts/JetBrainsMono/JetBrainsMono-Regular.ttf");
}

* {
    box-sizing: border-box;
    font-family: "JetBrains Mono", serif;
    text-shadow: -1px 2px 6px rgba(0,0,0,0.6);
    overflow: hidden;
    perspective: 800px;
}


body,html {
    margin: 0;
    padding: 0;
    background-color: white;
}


#mainContainer{
    height: 100vh;
    width: 100vw;
}

#layer0{
    z-index: 888;
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
}

#mainContainerHid{
    position: relative;
    height: 100vh;
    width: 100vw;
}

.ImageOfMe{
    display: flex;
    height: 100%;
    width: 100%;
}

.Intro {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-right: 5%;
    max-width: 50%;
    max-height: 100%

}

.Intro p{
    position: relative;
    color: white;
    font-weight: bold;
    text-align: center;
    font-size: clamp(1rem, 1.5vw, 1.5rem);
}

#imgme {
    background-image: url(../images/styledME.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 100%;
    height: 100%
}

.nav {
    display: flex;
    flex-direction: column;
    width: 100%;
    flex-grow: 1;


}

.NavBar{
    padding: 5%;
    display: flex;
    flex-grow: 1;
    justify-content: space-around;
    align-items: flex-end;
    height: 100%;
    width: 100%;
}

.button{
    overflow: visible;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    margin-right: 5%;
    margin-left: 5%;
    text-align: center;
    font-size: 2vw;
    pointer-events: all;
    width: 100%;
    height: auto;
    border: solid 5px white;
    border-radius: 10px;
    transition: all 0.5s ease;
}

.button:hover{
    background-color: #32C6FF;
    /*box-shadow: 2px 1px 50px 0px rgba(50,196,255,0.8);*/
}

.vignette {
    -webkit-box-shadow: inset 0px 0px 85px rgba(0,0,0,0.4);
    -moz-box-shadow:    inset 0px 0px 85px rgba(0,0,0,0.4);
    box-shadow:         inset 0px 0px 85px rgba(0,0,0,0.4);
}

.headerP {
    font-size: 3vw;
}

@media (max-width: 480px) {
    .ImageOfMe {
        display: block;
    }
    .Intro {
        display: flex;
        flex-direction: column;
        position: relative;
        width: 100vw;
        margin-right: 0;
        max-width: 100%;
    }
    .Intro p{
        font-size: 2.5vw;
    }
    #headerP{
        font-size: 3.5vw;
    }
    #imgme{
        height: 50%
    }

    .button{
        line-height: var(--navHeightHalf);
        font-size: 4vw;
    }
}


#layer1{
    position: absolute;
    z-index: 3;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
}

#mainContainerLayer1{
    display: flex;
    flex-direction: column;
    position: absolute;
    height: 100vh;
    width: 100vw;
}

#mainContainerLayer1 > strong{
    font-size: Large;
    padding-top: 10px;
    color: white;
    text-align: center;
    justify-self: center;
}

.skillsContainer{
    display: flex;
    height: 100vh;
}

.skills{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    overflow: hidden;
    height: 100%;
    width: 100%;
}

.skillsImages{
    display: flex;
    flex-direction: row;
    height: 40%;

}

.skillsImages > *{
    height: 100%;
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}


#html{
    background-image: url("../images/Logos/htmlLogo.png");
}

#css {
    background-image: url("../images/Logos/cssLogo.png");
}

#javascript{
    background-image: url("../images/Logos/jsLogo.png");
}

.skillsContainer{
    display: flex;
    flex-direction: column;
    padding: 5%;
    padding-top: 0;
    height: 100%;
    width: 100%;
}

.skillsDemos{
    display: flex;
    flex-direction: row;
    height: 50%;
    width: 100%;
    border: solid 2px black;
    border-radius: 10px;
}
.skillsDemos > *{
    border: solid 2px black;
    background-color: dimgray;
    pointer-events: all;
    overflow: auto;
    height: 100%;
    width: 100%;
}

.library{
    border: 2px solid black;
    height: 25%;
    width: 100%;
}

.layer1{
    background-color: #ff6b32;
}

.layer2{
    background-color: #D232FF;
}

.layer3{
    background-color: maroon;
}

.layer4{
    background-color: #32C6FF;
}

.skillsGreen{
    font-size: small;
    color:greenyellow;
}

.skillsPlum{
    font-size: small;
    color: #ff0056;
}

.skillsGold{
    font-size: small;
    color: #ffc000;
}