* {
    box-sizing: border-box;
    font-family: "Source Code Pro", serif;
    overflow-x: hidden;
}

body,html {
    margin: 0;
    padding: 0;
    background-color: black;
}

#mainContainer{
    height: 200vh;
    width: auto;
}

#cardBoardWrapper{

}

#cardBoard{
    height: 100%;
    width: 100%;
    background-image: url("../images/cardBoardtexture.png");
    background-size: cover;
}

